.row{
  display: flex;
  height: 300px;
  justify-content: center;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine{
  display: flex;
  width: 33.33%;
  font-size: 10em;
  justify-content: center;
  align-content: center;
}

#one, #two, #three{
  border-bottom: 1px solid black;
}

#one, #five, #seven{
  border-right: 1px solid black;
}

#three, #five, #nine{
  border-left: 1px solid black;
}

#nine, #eight, #seven {
  border-top: 1px solid black;
}

button{
  font-size: 30px;
}
