.row{
  display: flex;
  height: 300px;
  justify-content: center;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine{
  display: flex;
  width: 33.33%;
  font-size: 10em;
  justify-content: center;
  align-content: center;
}

#one {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#two{
  border-bottom: 1px solid black;
}

#three{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#five{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#seven{
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#eight{
  border-top: 1px solid black;
}

#nine{
  border-top: 1px solid black;
  border-left: 1px solid black;
}
